<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="./bootstrap.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache"

        testdox="false"
        backupGlobals="true"
        displayDetailsOnTestsThatTriggerDeprecations="false"
        displayDetailsOnTestsThatTriggerErrors="false"
        displayDetailsOnTestsThatTriggerNotices="false"
        displayDetailsOnTestsThatTriggerWarnings="false"
>
  <testsuite name="AutomatedPHPTesting">
    <directory>./</directory>
  </testsuite>
  <source>
    <include>
      <directory>./</directory>
    </include>
  </source>
</phpunit>
